<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <header th:replace='layout/plantilla :: header'/>
        <a th:href="@{/agregar}">Create Person</a>
        <div th:if="${personas != null and !personas.empty}">
            <table border="1">
                <tr>
                    <th th:text="#{person.name}"></th>
                    <th th:text="#{person.lastName}"></th>
                    <th th:text="#{person.email}"></th>
                    <th th:text="#{person.phone}"></th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
                <tr th:each="persona : ${personas}">
                    <td th:text="${persona.nombre}">Show name</td>
                    <td th:text="${persona.apellido}">Show last name</td>
                    <td th:text="${persona.email}">Show Email</td>
                    <td th:text="${persona.telefono}">Show phone</td>
                    <td><a th:href="@{/editar/} + ${persona.idPersona}" th:text="Editar"/></td>
                    <td><a th:href="@{/eliminar(idPersona=${persona.idPersona})}" th:text="Eliminar"/></td>
                </tr>
            </table>
        </div>
        <div th:if="${personas == null or personas.empty}">
            The persons list is empty
        </div>

        <footer th:replace='layout/plantilla :: footer'/>
    </body>
</html>
